<?xml version="1.0" encoding="UTF-8"?>
			<beans xmlns="http://www.springframework.org/schema/beans"
					xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
					xmlns:context="http://www.springframework.org/schema/context"
					xmlns:p="http://www.springframework.org/schema/p" 
					xsi:schemaLocation="
							http://www.springframework.org/schema/beans 
							http://www.springframework.org/schema/beans/spring-beans.xsd
							http://www.springframework.org/schema/context 
							http://www.springframework.org/schema/context/spring-context.xsd"> 
							
							<bean class="com.springcore.springframework.Student" name="std1">
								<property name="rollno" value="1" />
								<property name="name" value="Avinash" />
								<property name="city" value="Pune" />
							</bean>
							
							<bean class="com.springcore.springframework.Student" name="std2">
								<property name="rollno" value="2" />
								<property name="name" value="Priyansh" />
								<property name="city" value="Hadapsar" />
							</bean>
			</beans>